.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2c3e50;
  display: block;
}

.control input {
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #2c3e50;
  padding: 0.25rem;
}

.action {
  margin-top: 1.5rem;
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #67b26f;
  color: white;
  border: 1px solid #4ca2cd;
}

.action button:hover {
  background-color: #5aaa9d;
  border-color: #2c3e50;
}
