@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

/*

Green : #67b26f
Blue :  #4ca2cd
Mid :   #5aaa9d
Midnight-Blue: #2c3e50

*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  background: linear-gradient(
    to bottom left,
    #67b26f,
    #4ca2cd,
    rgba(0, 0, 0, 0.2)
  );
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
